<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="gnss_sensor" params="*origin"> 
        
        <joint name="gnss_to_base_link" type="fixed">
            <parent link="base_link"/>
            <child link="gnss_link"/>
            <xacro:insert_block name="origin" />
        </joint>
        

        <link name="gnss_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="0.05" length="0.04"/>
                </geometry>
                <material name="blue">
                    <color rgba="0.416 0.051 0.047 1.0"/>
                </material>    
            </visual>
        </link> 


    </xacro:macro>
</robot>